<h1>Actor Details</h1>

<img src="<%= @actor.actor_image_url %>" width="180">


<p><%= @actor.actor_name %></p>

<p><%= @actor.actor_bio %></p>

<p><%= @actor.actor_dob %></p>

<a href="http://localhost:3000/actors/">Back</a>

<a href="http://localhost:3000/actors/edit_actor/<%= @actor.id %>">Edit</a>

<a href="http://localhost:3000/actors/delete_actors/<%= @actor.id %>">Delete</a>


