<h1>Director Details</h1>

<img src="<%= @director.director_image_url %>" width="180">


<p><%= @director.director_name %></p>

<p><%= @director.director_bio %></p>

<p><%= @director.director_dob %></p>

  <a href="http://localhost:3000/directors/">Back</a>

  <a href="http://localhost:3000/directors/edit_director/<%= @director.id %>">Edit</a>

  <a href="http://localhost:3000/directors/delete_directors/<%= @director.id %>">Delete</a>
